/******************************Tag Elements***************************/
body {
  background-color: #e0ebe8;
  margin: 0;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  color: #40514E;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 100px;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Shadows Into Light', cursive;
  margin: 10px 20px;
  text-decoration: none;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/******************************Class Elements***************************/
.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #beddd7;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.learning {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 25% 10%;
}

.skill-img {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 25% 10%;
}

.myButton {
  box-shadow: 0 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #89ccd6 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0 1px 0 #3d768a;
}

.myButton:hover {
  background: linear-gradient(to bottom, #89ccd6 5%, #599bb3 100%);
  background-color: #89ccd6;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #40514E;
  font-size: 0.75rem;
  padding: 20px 0;
}

/******************************ID Elements***************************/
a:hover {
  color: #40514E;
}
